{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/reg.css' %}">
<form action="register" method="post" >
    {% csrf_token %}
    <div id="login-box">
        <div class="left">
        <h1>Sign up</h1>
        
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password1" placeholder="Password" />
        <input type="password" name="password2" placeholder="Retype password" />
        
        <input type="submit" name="signup_submit" value="Sign me up" />
        </div>
        
        <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        
        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
        </div>
        <div class="or">OR</div>
    </div>
</form>
<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>
